.box_buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box__button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease;
}

.box__button:not(:disabled):hover {
  background-color: rgb(190, 13, 167);
  color: white;
}

.disabled {
  background-color: rgb(143, 139, 139);
  cursor: auto;
}

.box__button:not(:disabled):active {
  animation: click 0.1s 1 ease;
  color: white;
}

@keyframes click {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
